# ================= SERVER =================
PORT=5000
NODE_ENV=development

# ================= DATABASE =================
MONGO_URI=mongodb://kalaicathrin10_db_user:kalai12345@ac-qsl3qkg-shard-00-00.tymwdbt.mongodb.net:27017,ac-qsl3qkg-shard-00-01.tymwdbt.mongodb.net:27017,ac-qsl3qkg-shard-00-02.tymwdbt.mongodb.net:27017/?ssl=true&replicaSet=atlas-sajujy-shard-0&authSource=admin&appName=Cluster0

# ================= JWT =================
JWT_SECRET=JobPortal@2026#MERN$Backend!JWTSecret
JWT_EXPIRE=7d

# ================= CLIENT =================
CLIENT_URL=http://localhost:5173
FRONTEND_URL=http://localhost:5173

# ================= EMAIL =================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=kalaicathrin10@gmail.com
SMTP_PASSWORD=ebjv bwvh oqpd yhao
SMTP_FROM="Job Portal <your_email@example.com>"

# ================= CLOUDINARY =================
CLOUDINARY_CLOUD_NAME=dvnn85syd
CLOUDINARY_API_KEY=967443319678964
CLOUDINARY_API_SECRET=JCnkcGnNH8kJG8REGgf4Ovb9BC0

# ================= FILE UPLOAD =================
MAX_FILE_SIZE=5242880

# ================= SECURITY =================
BCRYPT_SALT_ROUNDS=10